body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header Formatting*/
header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  background-color: black;
  top: 0;
}
.logo {
  height: 50px;
  margin-left: 10px;
}
header nav {
  flex-grow: 1;
  text-align: right;
}
nav span {
  padding: 10px 20px;
}
a {
  text-decoration: underline;
  color: seashell;
}

/* Main Content*/
.main {
  display: flex;
  padding-top: 70px;
  margin: auto;
  justify-content: center;
  width: 1200px;
  flex-wrap: wrap;
}
h2, h3, h4 {
  margin: 0;
  padding: 10px;
  display: block;
}

/* Mission*/
.mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banner {
  background-color: black;
  width: 100%;
  margin: auto;
}
/*Tea of the Month*/
.tea-month {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}
.tea-month h2 {
  width: 100%;
}
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.thumbnail img {
  height: 200px;
  width: 300px;
  display: block;
  margin: 10px;
}
.thumbnail {
  padding: 5px;
}
.thumbnail span {
  display: block;
}
/*Locations*/
.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  margin-top: 70px;
  padding-top: 70px;
}
.address-container {
  margin: auto;
  width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
}
.address {
  background-color: black;
  padding: 10px;
  margin: 5px 20px;
  width: 300px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
}
/*Contact*/
.contact {
  display: block;
  height: 200px;
  width: 1100px;
}
/*Footer*/
footer {
 text-align: left;
 padding-left: 20px;
