body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header Formatting*/
header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  background-color: black;
}
.logo {
  height: 50px;
  margin-left: 10px;
}
header nav {
  flex-grow: 1;
  text-align: right;
}
nav span {
  padding: 10px 20px;
}
a {
  text-decoration: underline;
  color: seashell;
}

/* Main Content*/
.main {
  display: flex;
  padding-top: 70px;
  margin: auto;
  justify-content: center;
  width: 1200px
}
/* Mission*/
.jumbotron {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banner {
  background-color: black;
  width: 100%;
  margin: auto;
}
/*Tea of the Month*/
